.swiper {
  width: 100%;
  height: 24rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  background-color: #8758ff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
